.navbar{
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo{
  width:150px;
}
.navbar-menu{
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}
.navbar-right{
display: flex;
align-items: center;
gap: 40px;
}
.navbar button{
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid rgb(255, 89, 60);
  padding:10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.navbar button:hover{
  background-color: #fff4f2;
}
.navbar .active{
  padding-bottom: 2px;
  padding-bottom: 2px solid #49557e;
}
.navbar-search-icon {
  position: relative;
}
.navbar-search-icon .dot{
   position: absolute;
   min-width: 10px;
   min-height: 10px;
   background-color: rgb(243, 80, 52);
   border-radius: 5px;
   top:-8px;
   right: -8px;
}
.navbar-right .icon{
  height: 20px;
  width: 40px;
  color: aliceblue;
}
.zomato-logo{
  width: 150px;
}

.add-count {
  position: relative;
  /* display: inline-block; */
  width: 1.5em; 
  height: 1.5em; 
  line-height: 1.5em; 
  text-align: center; 
  color: rgb(240, 229, 229);
  background-color: red;
  border-radius: 50%; 
  font-size: 0.5em; 
}
